*{
    --sidebar-size:1.6rem;
    --highlight-colour: rgb(47, 142, 219);
}

html,body{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
 
  background-color: rgb(235, 235, 235);
}

.container{
     height: 100vh; 
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/*Sidebar Start*/
.logo{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
    gap: 20px;
}

h1{
    align-self: center;
    margin: 0;
}
.placeholder{
    height: 50px;
    width:50px;
}

.sidebar{
    display: grid;
    background-color: var(--highlight-colour);
    grid-template-rows: auto auto 1fr;
    gap: 40px;
    padding: 20px;
    color: white;
}


.navItem{
    display: flex;
    font-size: var(--sidebar-size);
    gap: var(--sidebar-size);
    align-items: end;
    cursor: pointer;
}

.navItem:hover{
    text-decoration: underline;
}

a{
    color: white;
    text-decoration: none;
}

.navItem>img{
   height: 30px
}


li{
    list-style-type: none;
    padding: 5px;
}
ul{
    padding: 10px;
    margin: 0;
}
/*Sidebar End*/

/*Main Start*/
.main{
    display: grid;
    grid-template-rows: 1fr 5fr;
}

/*Header Start*/

.header{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    padding: 10px 20px 10px 20px;
    align-items: center; 
}

.searchbar>img{
        height: 30px;
}

.searchbar
{
    gap:20px;
    display: flex;
}

#search{
    outline: none;
    border:none;
    border-radius: 20px;
    border-color: rgb(223, 219, 219);
    width: 100%;
    background-color: rgb(226, 226, 226);
}

#search:focus{
    border:none;
    outline: none;
    border-color:  rgb(0, 0, 0);
    border:5px solid rgb(223, 223, 223);
    background-color: rgb(243, 243, 243);
}

.profilearea{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    .notification{
        height: 30px
    }
    .profilepic{
        height: 40px
    }
}

.interactions{
    >button{
        background-color: var(--highlight-colour);
        color: white;
        border: none;
        border-radius: 20px;
        width: 6rem;
        height: 2rem;
    }

}

.welcome{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3px;
    column-gap: 10px;
    >img{
        align-self: center;
        height: 4rem;
        width: 4rem;
        grid-row: 1/3;
    }
    >p{
        padding: 0;
        margin: 0;
        align-self: flex-end;
    }
    >p+p{
        font-size: 1.6rem;
    }
}


.content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
    padding-bottom: 10px;
    gap: 20px;
}

.projects{
    display: grid;
    grid-template-rows: auto 1fr;
    >h2{
        padding-left: 10px;
        padding-bottom: 10px;
    }

}
.sidecontent{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;

}

h2{
    padding: 0;
    margin: 0;
}



.projectcards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    /*makes rows grow at same width*/
    grid-auto-rows: 1fr;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;

}

.card{
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: grid;
    box-shadow: 3px 3px 6px #01010116;
}

.anouncementcard{
    display: grid;
    grid-template-rows: auto 1fr;
    >h2{
        margin-bottom: 10px;
    }
}

.announcements{
    display: grid;
    padding: 20px;
}

.trending{
    display: grid;
    padding: 20px;
    gap: 10px

}

.backgroundlines{
    display: grid;
    gap: 1px;
    background-color: rgba(128, 128, 128, 0.445);
}

.announcementsitem{
    background-color: white;
    display: flex;
    flex-direction: column;
    >h4{
        margin:2px;
        margin-top:4px;

    }
    >p{
        padding-bottom: 5px;
        max-width: 75ch;
        overflow: hidden;
        margin:2px;
        font-size: 0.9rem;
    }
}

.trendingitem{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap:10px;
    row-gap: 2px;
    >img{
        width: 3rem;
        height: 3rem;
        grid-row: 1/3;
    }

    >p{
        align-self: flex-end;
        margin:-0;
        padding: 0;
    }
    >p+p{
        align-self: flex-start;
    }

}

.project-card{
    border-left: 10px solid orange;
    
}

.project{
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 20px;
}

.projecttext{
    >h2{
        margin-bottom:5px ;
    }
    >p{
        margin: 0
    }
}
.project-options{
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    >img{
        width: 30px;
        height: 30px;
    }
}